{% extends "emails/base_email.html" %} {% block content %}
<h2>Hey {{ user.username }}!</h2>
<p>
  We heard that you lost your password. Sorry about that!<br />
  But don’t worry! Click
  <a href="{{ config.PUBLIC_SITE_URL }}/reset-password/{{ token }}">here</a> to
  reset your password.
</p>
{% endblock %} {% block content_more %}
<h6>
  You can get a new password reset link
  <a href="{{ config.PUBLIC_SITE_URL }}/reset-password">here</a>. <br />If this
  wasn't you, this email can be safely ignored.
</h6>
{% endblock %}
